<!DOCTYPE html>
<html lang="pl" data-theme="light">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Panel Główny Szpitala</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://unpkg.com/lucide@latest"></script>

</head>
<body>
  <header class="top-bar">
    <div class="nav-buttons">
      <button class="nav-btn" onclick="goToHospitalMap()"> <i data-lucide="map"></i> Plan Szpitala</button>
      <button class="nav-btn" onclick="goToStatistics()"> <i data-lucide="bar-chart-3"></i> Statystyki</button>
      <button class="nav-btn" onclick="goToDataBases()"><i data-lucide="database"></i> Bazy Danych</button>
      <button class="nav-btn"><i data-lucide="calendar"></i> Rezerwacja Pokoju</button>
    </div>
  </header>

  <main class="dashboard-container">
    <div class="dashboard-grid">
      <a href="/statystyki_liczba_pokojow.html" class="dashboard-tile">
        <i data-lucide="building"></i>
        <span>Liczba pokojów w dziale</span>
      </a>
      <a href="/statystyki_liczba_pracownikow_w_dziale.html" class="dashboard-tile">
        <i data-lucide="users"></i>
        <span>Liczba pracowników w dziale</span>
      </a>
      <a href="/wolne_miejsca.html" class="dashboard-tile">
        <i data-lucide="door-open"></i>
        <span>Wykaz wolnych pomieszczeń</span>
      </a>
      <a href="/wolne_miejsca_w_pokojach.html" class="dashboard-tile">
        <i data-lucide="sofa"></i>
        <span>Wykaz wolnych miejsc w pokojach</span>
      </a>
    </div>
  </main>

  <script>
    lucide.createIcons();
  </script>
  <script src="{{ url_for('static', filename='js/campus.js') }}"></script>
</body>
</html>